<html>
<title>
    Passlock | Login
</title>

<body>
    <h1>
        Welcome to PassLock
    </h1>
    <h2>{{message}}</h2>
    <br>
    <form action="http://192.168.1.11:5000/login" method="POST">
        <label for="user">Login:</label>
        <input type="text" id="user" name="user">
        <p>
        <label for="passwd">Password:</label>
        <input type="password" id="passwd" name="passwd">
        <p>
        <input type="submit" id="submit" value="Submit">
    </form> 
</body>

</html>