<html>
<title>
  Passlock | Menu
</title>

<body>
  <h1>
    Select an option
  </h1>
  <br>
  <form action="https://192.168.1.11/passlock/menu" method="POST">
    <select name="menu" id="choice">
      <option value="read">Retrieve pasword</option>
      <option value="write">Create/Update password</option>
      <option value="update">Update master password</option>
      {% if username == "admin": %}
      <option value="add">Add new user</option>
      <option value="delete">Delete existing user</option>
      {% endif %}
      <option value="logout">Logout</option>
    </select>
    <input type="submit" id="submit" value="Submit">
</body>

</html>
