<html>
<title>
    Passlock | Update
</title>

<body>
    <h1>
        Update Master password
    </h1>
    <br>
    <form action="https://192.168.1.11/passlock/update" method="POST">
        <label for="old">Old password:</label>
        <input type="password" id="old" name="old">
        <p>
        <label for="new">New password:</label>
        <input type="password" id="new" name="new">
        <p>
        <label for="confirm">Confirm new password:</label>
        <input type="password" id="confirm" name="confirm">
        <p>
        <input type="submit" id="submit" value="Submit">
    </form>
</body>

</html>
