<html>
<title>
    PassLock | Write
</title>

<body>
    <h1>
        Create/Update Application Password
    </h1>
    <p>
    <form action="https://192.168.1.11/passlock/write" method="POST">
        <label for="app">App name:</label>
        <input type="text" id="app" name="app">
        <p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <p>
        <input type="submit" id="submit" value="Submit">
    </form>
</body>
</html>
